.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.btn-open-dialog {
  appearance: none;
  padding: 0.8rem 1.2rem;
  background-color: var(--color-primary);
  border-radius: 12px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color, transform;
  transition-duration: 250ms, 350ms;
  transition-timing-function: ease;
}

.btn-open-dialog.open {
  transform: scale(0.9);
}

.btn-open-dialog:hover {
  background-color: var(--color-primary-hover);
}

.square {
  position: absolute;
  background-color: var(--color-decoration);
  border-radius: 12px;
}

.circle {
  position: absolute;
  background-color: var(--color-decoration);
  border-radius: 50%;
}

.rotate {
  transform: rotate(45deg);
}

.big {
  aspect-ratio: 1 / 1;
  width: 250px;
  height: 250px;
}

.small {
  aspect-ratio: 1 / 1;
  width: 90px;
  height: 90px;
}

.top-left {
  top: 10%;
  left: 15%;
}

.top-right {
  top: 25%;
  right: 15%;
}

.bottom-left {
  bottom: 5%;
  left: 20%;
}

.bottom-right {
  bottom: 25%;
  right: 25%;
}

@media screen and (max-width: 750px) {
  .top-left {
    top: -10%;
    left: -10%;
  }

  .bottom-left {
    bottom: -5%;
    left: 20%;
  }

  .bottom-right {
    bottom: 28%;
    right: 10%;
  }
}
