html {
  background-color: var(--color-app);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div[id='root'] {
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
}
